<html>
<head>
    <link href="~/estilos.css" rel="stylesheet" />
    <title>Neat Burguer</title>
</head>
<body>
    <header>
        <nav>
            <a href="~/">Principal</a>
            <a href="~/menu1/1">Menú Estilo 1</a>
            <a href="~/Home/menu2">Menú Estilo 2</a>
            <a href="~/menu3/1">Menú Estilo 3</a>
        </nav>
    </header>
    <main>


    </main>
</body>
</html>